# Debian/Ubuntu Server (vor 20.x) - Preseed fuer iVentoy
# Installiert auf erste nicht-USB Platte (VT_LINUX_DISK_SDX_1ST_NONUSB)
# UTF-8 Encoding erforderlich!
# Variablen: $$VT_SERVER_IP$$ $$VT_HTTP_PORT$$ $$VT_IMG_ID_HTTP_URL$$

d-i auto-installer/enable boolean true
d-i debconf/priority select critical

d-i debian-installer/language string de
d-i debian-installer/country string DE
d-i debian-installer/locale string de_DE.UTF-8

d-i keyboard-configuration/xkb-keymap select de
d-i console-setup/ask_detect boolean false
d-i console-setup/layout select German
d-i console-setup/layoutcode string de

d-i netcfg/enable boolean false

d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-auto/choose_recipe select home
d-i partman-auto/disk string /dev/$$VT_LINUX_DISK_SDX_1ST_NONUSB$$
d-i partman-auto/init_automatically_partition seen false
d-i partman-md/confirm boolean true
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman-auto/method string regular
d-i grub-installer/bootdev string /dev/$$VT_LINUX_DISK_SDX_1ST_NONUSB$$

d-i retriever/net/error select Retry
d-i base-installer/kernel/override-image string linux-server

tasksel tasksel/force-tasks string server
d-i pkgsel/language-pack-patterns string
d-i pkgsel/install-language-support boolean false
d-i clock-setup/utc-auto boolean true
d-i debian-installer/splash boolean false
d-i grub-installer/timeout string 2

d-i clock-setup/utc boolean true
d-i clock-setup/ntp boolean false
d-i time/zone string Europe/Berlin

d-i passwd/root-login boolean true
d-i passwd/root-password password <ROOT-PASSWORD>
d-i passwd/root-password-again password <ROOT-PASSWORD>
d-i passwd/make-user boolean false
d-i user-setup/allow-password-weak boolean true
d-i user-setup/encrypt-home boolean false

d-i apt-setup/use_mirror boolean false
d-i apt-setup/no_mirror boolean true
d-i debian-installer/allow_unauthenticated string true

d-i tasksel/first multiselect OpenSSH server
d-i pkgsel/include string ifupdown lvm2 openssh-server efibootmgr
d-i pkgsel/upgrade select none
d-i pkgsel/update-policy select none

d-i debian-installer/add-kernel-opts string biosdevname=0 net.ifnames=0
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true

d-i finish-install/reboot_in_progress note
d-i cdrom-detect/eject boolean true
