# RHEL7/CentOS7/Fedora - Kickstart fuer iVentoy
# Installiert auf erste nicht-USB Platte (VT_LINUX_DISK_SDX_1ST_NONUSB)
# UTF-8 Encoding erforderlich!

install

lang de_DE.UTF-8
keyboard de
rootpw --plaintext <ROOT-PASSWORD>
firewall --service=ssh
authconfig --enableshadow --passalgo=sha512
selinux --disable
timezone Europe/Berlin --utc

eula --agreed
firstboot --disable

%include /tmp/partation.ks
zerombr
autopart --type=plain

%packages
@core
%end

reboot

%pre
disk_short_name=$$VT_LINUX_DISK_SDX_1ST_NONUSB$$
echo bootloader --location=mbr --driveorder=$disk_short_name >> /tmp/partation.ks
echo ignoredisk --only-use=$disk_short_name >> /tmp/partation.ks
echo clearpart --all --initlabel --drives=$disk_short_name >> /tmp/partation.ks
%end
